[submodule "Translations"]
	path = Application/romfs/lang
	url = https://github.com/tallbl0nde/NX-Activity-Log-Translations.git
[submodule "Application/libs/SimpleIniParser"]
	path = Application/libs/SimpleIniParser
	url = https://github.com/zdm65477730/SimpleIniParser.git
[submodule "Application/libs/Aether"]
	path = Application/libs/Aether
	url = https://github.com/tallbl0nde/Aether
[submodule "Application/libs/json"]
	path = Application/libs/json
	url = https://github.com/nlohmann/json.git
