[submodule "SimpleIniParser"]
	path = libs/SimpleIniParser
	url = https://github.com/AtlasNX/SimpleIniParser
[submodule "Aether"]
	path = libs/Aether
	url = https://github.com/tallbl0nde/Aether
[submodule "Translations"]
	path = romfs/lang
	url = https://github.com/tallbl0nde/NX-Activity-Log-Translations.git
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
